{% extends 'base.html' %}
{% load static %}

{% block extra_title %}
 - Edit Profile
{% endblock %}

{% block content %}
    <div class="content">
        <!--Page title-->
        <h1 class="page-title">Edit profile</h1>
        <div class="edit-profile-div">
            <!--Edit profile form-->
            <form method="POST" action="{% url 'edit_profile' %}" id="edit-profile-form">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="row">
                    <!--Back button-->
                    <div class="col-6">
                        {% include "back_button/back_button.html" %}
                    </div>
                    <!--Submit-->
                    <div class="col-6">
                        <button type="submit" class="nunisi-button">Update</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
