{% extends 'base.html' %}
{% load static %}

{% block extra_title %}
 - Profile
{% endblock %}

{% block content %}

    <div class="content">
        <h1 class="page-title">My Account</h1>
        <!--Profile Information Table-->
        <table class="table table-striped table-hover table-borderless" id="user-profile-table">
            <!--Email-->
            <tr class="user-profile-table-top-row">
                <th class="account-detail">
                    <!--Email management link-->
                    <a href="{% url 'account_email' %}" aria-label="Link to email address management" title="Update email setttings"><i class="fa-solid fa-pen-to-square"></i> Email Address(es)</a>
                </th>
                <td class="account-detail-value">
                    <!--Display primary email-->
                    {% for email in email_addresses %}
                    {% if email.primary %}
                        <p>Primary email address: {{ email.email }}</p>
                    {% endif %}
                    {% endfor %}
                    <!--Check for other email addresses and display them-->
                    {% if email_addresses|length > 1 %}
                        <p>Others:</p>
                        <ul>
                            {% for email in email_addresses %}
                                {% if not email.primary %}
                                    <li>{{ email.email }}</li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    {% endif %}
                </td>
            </tr>
            <!--Name-->
            <tr>
                <th class="account-detail">
                    Name
                </th>
                <td class="account-detail-value">
                    {% if user_profile.full_name %}
                        {{ user_profile.full_name }}
                    {% else %}
                        N/A
                    {% endif %}
                </td>
            </tr>
            <!--Phone Number-->
            <tr>
                <th class="account-detail">
                    Phone Number
                </th>
                <td class="account-detail-value">
                    {% if user_profile.phone_number %}
                        {{ user_profile.phone_number }}
                    {% else %}
                        N/A
                    {% endif %}
                </td>
            </tr>
            <!--Address-->
            <tr>
                <th class="account-detail">
                    Address
                </th>
                <td class="account-detail-value">
                    <!--Check for street address 1 (required) else N/A-->
                    {% if user_profile.street_address1 %}
                        <p>{{ user_profile.street_address1 }}</p>
                        <!--Checks for street address 2 (optional)-->
                        {% if user_profile.street_address2 %}
                            <p>{{ user_profile.street_address2 }}</p>
                        {% endif %}
                        <!--Check for town-->
                        {% if user_profile.town_or_city %}
                            <p>{{ user_profile.town_or_city }}</p>
                        {% endif %}
                        <!--Check for county-->
                        {% if user_profile.county %}
                            <p>{{ user_profile.county }}</p>
                        {% endif %}
                        <!--Check for postcode-->
                        {% if user_profile.postcode %}
                            <p>{{ user_profile.postcode }}</p>
                        {% endif %}
                    {% else %}
                        N/A
                    {% endif %}
                </td>
            </tr>
            <!--Country-->
            <tr>
                <th class="account-detail">
                    Country
                </th>
                <td class="account-detail-value">
                    {% if user_profile.country %}
                        {{ user_profile.country }}
                    {% else %}
                        N/A
                    {% endif %}
                </td>
            </tr>
        <!--Newsletter-->
            <tr class="user-profile-table-bottom-row">
                <th class="account-detail">
                    Signed up to Newsletter?
                </th>
                <td class="account-detail-value">
                    {% if user_profile.newsletter %}
                        <p>Yes</p>
                    {% else %}
                        <p>No</p>
                    {% endif %}
                </td>
            </tr>
        </table>
        <!--Buttons-->
        <div class="user-profile-button-div row">
            <div class="col-6">
                <a href="{% url 'edit_profile' %}" class="nunisi-button">Edit profile</a>
            </div>
            <div class="col-6">
                <a href="{% url 'account_change_password' %}" class="nunisi-button">Change password</a>
            </div>
        </div>
        <div class="delete-profile-button">
            <a href="{% url 'delete_user' user.id %}?referer={{ request.path }}" class="nunisi-button delete-button">Delete Account</a>
        </div>
        {% include "back_button/back_button.html" %}
        <div class="account-page-spacer"></div>
    </div>
{% endblock %}