{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1> Checkout </h1>
    <!--Checkout Form-->
    <form method="POST" action="{% url 'checkout' %}" id="payment-form">
        {% csrf_token %}
        {{ checkout_form.as_p }}
        <!-- Hidden field to identify form name -->
        <input type="hidden" name="payment_form" value="True">
        <!-- Hidden fields for trip details -->
        <input type="hidden" name="room_id" value="{{ room_id }}">
        <input type="hidden" name="room" value="{{ room }}">
        <input type="hidden" name="total_days" value="{{ total_days }}">
        <input type="hidden" name="check_in_date" value="{{ check_in_date }}">
        <input type="hidden" name="check_out_date" value="{{ check_out_date }}">
        <input type="hidden" name="adults" value = "{{ adults }}">
        <input type="hidden" name="children" value = "{{ children }}">
        <input type="hidden" name="infants" value = "{{ infants }}">
        <input type="hidden" name="total_cost" value="{{ total_cost }}">
        <!-- Stripe Elements -->
        <imput type="hidden" name="client_secret" value="{{ client_secret }}">
        <div id="card-element"></div>
        <div id="card-errors" role="alert"></div>
        <button type="submit" id="checkout-form-submit-button">Submit</button>
    </form>

    <!-- Order Summary -->
    <h2> Order Summary </h2>
    <p>Room Id<span>{{ room_id }}</span></p>
    <p>Room<span>{{ room }}</span></p>
    <p>Total days<span>{{ total_days }}</span></p>
    <p>Check in date<span>{{ check_in_date }}</span></p>
    <p>Check out date<span>{{ check_out_date }}</span></p>
    <p>Adults<span>{{ adults }}</span></p>
    <p>Children<span>{{ children}}</span></p>
    <p>Infants<span>{{ infants }}</span></p>
    <p>Total Cost<span>{{ total_cost }}</span></p>


    <!-- Loading overlay -->
    <div id="loading-overlay">
        <h3 class="text-light logo-font loading-spinner">
            <span class ="icon">
                <i class="fas fa-3x fa-sync-alt fa-spin"></i>
            </span>
        </h3>
    </div>
{% endblock %}


{% block postloadjs %}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}