{% extends 'base.html' %}
{% load static %}

{% block extra_title %}
- Checkout
{% endblock %}

{% block content %}
    <div class="content">
        <h1 class="jost-font" id="booking-page-title">Checkout</h1>
        <div class="container">
            <div class="row gx-5">
                <div class="col-12 col-md-6 checkout-page-block" id="checkout-page-payment-block">
                    <h2 class="jost-font">Payment Details</h2>
                    <p class="roboto-font" id="payment-text">Complete the form below to confirm your booking:</p>
                    <!--Checkout Form-->
                    <form method="POST" action="{% url 'checkout' %}" id="payment-form" class="roboto-font">
                        {% csrf_token %}
                        {{ checkout_form.as_p }}
                        <!-- Hidden field to identify form name -->
                        <input type="hidden" name="payment_form" value="True">
                        <!-- Hidden fields for trip details -->
                        <input type="hidden" name="room_id" value="{{ room_id }}">
                        <input type="hidden" name="room" value="{{ room }}">
                        <input type="hidden" name="total_days" value="{{ total_days }}">
                        <input type="hidden" name="check_in_date" value="{{ check_in_date }}">
                        <input type="hidden" name="check_out_date" value="{{ check_out_date }}">
                        <input type="hidden" name="adults" value = "{{ adults }}">
                        <input type="hidden" name="children" value = "{{ children }}">
                        <input type="hidden" name="infants" value = "{{ infants }}">
                        <input type="hidden" name="total_cost" value="{{ total_cost }}">
                        <div id="save-info-div">
                            <label for="save-info" id="save-info-label">Save Information For Next Time:</label>
                            <input type="checkbox" id="id-save-info" name="save_info">
                        </div>
                        <!-- Stripe Elements -->
                        <input type="hidden" name="client_secret" value="{{ client_secret }}">
                        <div id="card-element"></div>
                        <div id="card-errors" role="alert"></div>
                        <hr>
                        <div id="checkout-form-submit-button-div">
                            <button type="submit" id="checkout-form-submit-button" class="nunisi-button">Pay Now</button>
                        </div>
                    </form>
                </div>
                <div class="col-12 col-md-6 checkout-page-block" id="checkout-page-order-summary-block">
                <!-- Order Summary -->
                    <h2 class="jost-font">Order Summary</h2>
                    <div class="order-summary-image-div">
                        <img src="{{ room.image.url }}" alt="{{ room.name }}" class="order-summary-image">
                    </div>
                    <p class="roboto-font order-summary-p">Room Name: <span class="order-summary-data">{{ room.sanitised_name }}</span></p>
                    <p class="roboto-font order-summary-p">Check in: <span class="order-summary-data">{{ sanitised_check_in_date }}</span></p>
                    <p class="roboto-font order-summary-p">Check out: <span class="order-summary-data">{{ sanitised_check_out_date }}</span></p>
                    <p class="roboto-font order-summary-p">Trip length: <span class="order-summary-data">{{ total_days }} nights</span></p>
                    <p class="roboto-font order-summary-p">Guests: <span class="order-summary-data">{{ total_guests }} ({{ adults }} adults, {{ children }} children, {{ infants }} infants)</span></p>
                    <p class="roboto-font order-summary-p">Total Cost: £<span class="order-summary-data">{{ total_cost }}</span></p>
                </div>
            </div>
        </div>
        <!-- Loading wheel overlay for payment processing -->
        <div id="loading-overlay">
            <p class="text-light logo-font loading-spinner">
                <span class ="icon">
                    <i class="fas fa-3x fa-sync-alt fa-spin"></i>
                </span>
            </p>
        </div>
    </div>
{% endblock %}


{% block postloadjs %}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    <script src="{% static 'checkout/js/stripe_elements.js' %}"></script>
{% endblock %}