{% extends 'base.html' %}
{% load static %}

{% block extra_title %}
 - Cancel Trip
{% endblock %}

{% block content %}
    <div class="content">
        <h1 class="page-title">Trip Cancellation</h1>
        <div class="cancel-trip-card">
            <div class="row trips-header">
                <div class="col-6 trips-header-left">
                    <p><span class="trips-label">Check-in:</span> {{ trip.start_date }}</p>
                    <p><span class="trips-label">Check-out:</span> {{ trip.end_date }}</p>
                </div>
                <div class="col-6 trips-header-right">
                    <p><span class="trips-label">Cost:</span> £{{ trip.cost }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6">
                    <p class="trip-room-name">{{ trip.room.sanitised_name }}</p>
                    <p class="trip-description">{{ trip.room.description }}</p>
                    <div class="trip-amenities">
                        <p class="trips-label">Amenities:</p>
                        <ul>
                            {% for amenity_id in trip.room.amenities %}
                                {% for amenity in amenities %}
                                    {% if amenity.id == amenity_id %}
                                        <li>{{ amenity.icon|safe }} {{ amenity.sanitised_name }}</li>
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-md-6">
                    {% if trip.room.image %}
                        <img src="{{ trip.room.image.url }}" alt="{{ valid_room.room.sanitised.name }}" class="available-room-image">
                    {% endif %}
                    <div class="trip-guests-div">
                        <p class="trips-label">Guests:</p>
                        <ul>
                            <li>
                                {{ trip.adults }} Adults
                            </li>
                            <li>
                                {{ trip.children }} Children
                            </li>
                            <li>
                                {{ trip.infants }} Infants
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div>
                <form method="post" action="{% url 'send_cancellation_email' trip.id %}" class="trip-cancellation-form">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="explanation" class="trips-label">Reason for Cancellation*</label>
                        <textarea 
                            id="explanation" 
                            name="explanation" 
                            class="form-control" 
                            rows="4" 
                            placeholder="Please provide a brief explanation for the cancellation."
                        ></textarea>
                        <p class="trip-cancel-boilerplate">
                            *Cancelling 7 or more days ahead of the stay results in a full refund. 10% deposit fee if cancelled within a week of the stay and 20% deposit fee if cancelled within a day of the stay.
                            Submitting a cancellation request agrees to these terms.
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            {% include "back_button/back_button.html" %}
                        </div>
                        <div class="col-6">
                            <button type="submit" class="nunisi-button">Send Cancellation Request</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
<p>Cancel trip?</p>

<p>{{ trip }}</p>