{% extends 'base.html' %}
{% load static %}

{% block extra_title %}
 - Trips
{% endblock %}

{% block content %}
    <div class="content">
        <h1 class="page-title">Your Trips</h1>
        <!--If Trips-->
        {% if trips %}
            <div class="trips-page-container"> 
                <!--Upcoming trips-->
                <div class="row upcoming-trips-row">
                    <div class="col-12 trips-section-title">
                        <h2>Upcoming Trips</h2>
                    </div>
                    {% for trip in upcoming_trips %}
                        <div class="trips-container">
                            <div class="trip-card">
                                <div class="row trips-header">
                                    <div class="col-6 trips-header-left">
                                        <!--Trip dates-->
                                        <p><span class="trips-label">Check-in:</span> {{ trip.start_date }}</p>
                                        <p><span class="trips-label">Check-out:</span> {{ trip.end_date }}</p>
                                    </div>
                                    <div class="col-6 trips-header-right">
                                        <!--Trip cost-->
                                        <p><span class="trips-label">Cost:</span> £{{ trip.cost }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-12 col-md-6">
                                        <!--Room name-->
                                        <h2 class="trip-room-name">{{ trip.room.sanitised_name }}</h2>
                                        <!--Room description-->
                                        <p class="trip-description">{{ trip.room.description }}</p>
                                        <!--Room amenitites-->
                                        <div class="trip-amenities">
                                            <p class="trips-label">Amenities:</p>
                                            <ul>
                                                {% for amenity_id in trip.room.amenities %}
                                                    {% for amenity in amenities %}
                                                        {% if amenity.id == amenity_id %}
                                                            <li>{{ amenity.icon|safe }} {{ amenity.sanitised_name }}</li>
                                                        {% endif %}
                                                    {% endfor %}
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-12 col-md-6">
                                        <!--Room Image-->
                                        {% if trip.room.image %}
                                            <img src="{{ trip.room.image.url }}" alt="{{ valid_room.room.sanitised.name }}" class="available-room-image">
                                        {% endif %}
                                        <!--Trip Guests-->
                                        <div class="trip-guests-div">
                                            <p class="trips-label">Guests:</p>
                                            <ul>
                                                <li>
                                                    {{ trip.adults }} Adults
                                                </li>
                                                <li>
                                                    {{ trip.children }} Children
                                                </li>
                                                <li>
                                                    {{ trip.infants }} Infants
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--Cancel trip button-->
                                    {% if not trip.cancelled %}
                                        <div class="trip-cancel-div">
                                            <a href="{% url 'cancel_trip' trip.id %}?referer={{ request.META.HTTP_REFERER }}" class="trip-cancel-button">Cancel</a>
                                        </div>
                                    {% else %}
                                        <p class="cancelled-trip">This trip was cancelled.</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <!--Past trips-->
                {% if past_trips %}
                    <div class="row past-trips-row">
                        <div class="col-12 past-trips-section-title">
                            <!--Section title-->
                            <h2 class="col-12 col-md-6">Past Trips</h2>
                            <!--Sorting block-->
                            <div class="past-trips-sort col-12 col-md-6">
                                <label for="sort-selector" class="nunisi-button" data-action="sort" id="sort-label">Sort By:</label>
                                <select id="sort-selector" class="nunisi-dropdown">
                                    <!--Sorting choices-->
                                    <option value="?sort=None_None" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                                    <option value="?sort=oldest_first" {% if current_sorting == 'oldest_first' %}selected{% endif %}>Oldest First</option>
                                    <option value="?sort=latest_first" {% if current_sorting == 'latest_first' %}selected{% endif %}>Latest First</option>
                                </select>
                            </div>
                        </div>
                        {% for trip_dict in page_obj.object_list %}
                            <div class="trips-container">
                                <div class="trip-card">
                                    <div class="row trips-header">
                                        <div class="col-6 trips-header-left">
                                            <!--Trip dates-->
                                            <p><span class="trips-label">Check-in:</span> {{ trip_dict.trip.start_date }}</p>
                                            <p><span class="trips-label">Check-out:</span> {{ trip_dict.trip.end_date }}</p>
                                        </div>
                                        <div class="col-6 trips-header-right">
                                            <!--Trip cost-->
                                            <p><span class="trips-label">Cost:</span> £{{ trip_dict.trip.cost }}</p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <!--Room name-->
                                            <h2 class="trip-room-name">{{ trip_dict.trip.room.sanitised_name }}</h2>
                                            <!--Room description-->
                                            <p class="trip-description">{{ trip_dict.trip.room.description }}</p>
                                            <!--Room amenities-->
                                            <div class="trip-amenities">
                                                <p class="trips-label">Amenities:</p>
                                                <ul>
                                                    {% for amenity_id in trip_dict.trip.room.amenities %}
                                                        {% for amenity in amenities %}
                                                            {% if amenity.id == amenity_id %}
                                                                <li>{{ amenity.icon|safe }} {{ amenity.sanitised_name }}</li>
                                                            {% endif %}
                                                        {% endfor %}
                                                    {% endfor %}
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <!--Room image-->
                                            {% if trip_dict.trip.room.image %}
                                                <img src="{{ trip_dict.trip.room.image.url }}" alt="{{ valid_room.room.sanitised.name }}" class="available-room-image">
                                            {% endif %}
                                            <!--Trip guests-->
                                            <div class="trip-guests-div">
                                                <p class="trips-label">Guests:</p>
                                                <ul>
                                                    <li>
                                                        {{ trip_dict.trip.adults }} Adults
                                                    </li>
                                                    <li>
                                                        {{ trip_dict.trip.children }} Children
                                                    </li>
                                                    <li>
                                                        {{ trip_dict.trip.infants }} Infants
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <!--Check if the trip was cancelled-->
                                        {% if trip_dict.trip.cancelled %}
                                            <!--Cancelled Message-->
                                            <p class="cancelled-trip">This trip was cancelled.</p>
                                        {% else %}
                                            <!--Check for a review-->
                                            {% if trip_dict.review %}
                                                {% include "reviews/review.html" with review=trip_dict.review %}
                                            {% else %}
                                                <!--Add review button-->
                                                <div class="trip-add-review-div">
                                                    <a href="{% url 'add_review' trip_dict.trip.id %}?referer={{ request.META.HTTP_REFERER }}" class="nunisi-button leave-review-button">Leave a review</a>
                                                </div>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <!--Pagination block-->
                        <nav aria-label="Page navigation" id="past-trips-pagination">
                            <ul class="pagination justify-content-center" data-action="pagination">
                                <!--Previous and disable if on first page-->
                                {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}&sort={{ current_sorting }}" data-action="pagination" data-page="{{ page_obj.previous_page_number }}">Previous</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="?page={{ num }}" tabindex="-1">Previous</a>
                                    </li>
                                {% endif %}
                                
                                <!--Numbered pages-->
                                {% for num in page_obj.paginator.page_range %}
                                    <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                                        <a class="page-link" href="?page={{ num }}&sort={{ current_sorting }}" data-action="pagination" data-page="{{ num }}">{{ num }}</a>
                                    </li>
                                {% endfor %}
                                
                                <!--Next and disable if on last page-->
                                {% if page_obj.has_next %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page={{ page_obj.next_page_number }}&sort={{ current_sorting }}" data-action="pagination" data-page="{{ page_obj.next_page_number }}">Next</a>
                                    </li>
                                {% else %}
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1">Next</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </nav>
                    </div>
                {% endif %}
            </div>
        {% else %}
            <!--No trips message-->
            <p class="font-off-black roboto-font font-weight-bolder" id="no-trips-message">
                You have no trips booked with us yet.
            </p>
        {% endif %}
        <!--Home button-->
        <div class="home-buttom-container">
            <div class="home-button-div">
                <a href="{% url 'home' %}" class="home-button nunisi-button">Return to Homepage</a>
            </div>
        </div>
    </div>
{% endblock %}
{% block postloadjs %}
    <script>
        //Save the sort selector choice//
        document.getElementById("sort-label").addEventListener("click", function () {
            const dropdown = document.getElementById("sort-selector");
            const selectedValue = dropdown.value;
            if (selectedValue) {
                location.href = selectedValue;
            }
        });
    </script>
{% endblock %}