{% extends 'base.html' %}
{% load static %}

{% block extra_title %}
 - Available Rooms
{% endblock %}

{% block content %}
    <div class="content">
        <h1 class="page-title">Available Rooms</h1>
        {% if booking_form.errors %}
            <div class="alert alert-danger roboto-font" id="available-rooms-error">
                <p><strong>Oops!</strong> Something went wrong. Please check the form for errors.</p>
                <ul>
                    {% for field in booking_form %}
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
                <div class="home-button-container">
                    <a href="{% url 'home' %}" class="home-button nunisi-button">Return to Homepage</a>
                </div>
            </div>
        {% else %}
            {% if valid_rooms %}
                <!--Sorting block-->
                <div class="room-sort-container">
                    <label for="sort-selector" class="nunisi-button" data-action="sort">Sort By:</label>
                    <select id="sort-selector" class="nunisi-dropdown">
                        <!--Sorting choices-->
                        <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                        <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                        <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                    </select>
                </div>
                <!--Filter block-->
                <div class="accordion" id="amenity-accordion">
                    <div class="accordion-item">
                        <!--Accordion title-->
                        <h2 class="accordion-header" id="amenity-accordion-title">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#amenity-filter-body" aria-expanded="true" aria-controls="amenity-filter-body">
                                Filter by Amenity
                            </button>
                        </h2>
                        <!--Accordion content-->
                        <div id="amenity-filter-body" class="accordion-collapse collapse" aria-labelledby="amenity-accordion-title" data-bs-parent="#amenity-accordion">
                            <div class="accordion-body">
                                <form method="POST" action="{% url 'available_rooms' %}">
                                    {% csrf_token %}
                                    <div class="container">
                                        <div class="row" id="amenity-choices">
                                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                                <ul class="list-unstyled">
                                                    <li>
                                                        <label>
                                                            <input type="checkbox" name="amenities" value="1" 
                                                                {% if 1 in selected_amenities %}checked{% endif %}>
                                                            <i class="fa-solid fa-bed"></i> Single Bed
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <label>
                                                            <input type="checkbox" name="amenities" value="2" 
                                                                {% if 2 in selected_amenities %}checked{% endif %}>
                                                            <i class="fa-solid fa-bed"></i>Double Bed
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <label>
                                                            <input type="checkbox" name="amenities" value="3" 
                                                                {% if 3 in selected_amenities %}checked{% endif %}>
                                                            <i class="fa-regular fa-sun"></i>Balcony
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <label>
                                                            <input type="checkbox" name="amenities" value="4" 
                                                                {% if 4 in selected_amenities %}checked{% endif %}>
                                                            <i class="fa-solid fa-water"></i>River View
                                                        </label>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                                <ul class="list-unstyled">
                                                    <li>
                                                        <label>
                                                            <input type="checkbox" name="amenities" value="5" 
                                                                {% if 5 in selected_amenities %}checked{% endif %}>
                                                            <i class="fa-solid fa-mountain-sun"></i>Mountain View
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <label>
                                                            <input type="checkbox" name="amenities" value="6" 
                                                                {% if 6 in selected_amenities %}checked{% endif %}>
                                                            <i class="fa-solid fa-mosquito-net"></i>Mosquito Nets
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <label>
                                                            <input type="checkbox" name="amenities" value="7" 
                                                                {% if 7 in selected_amenities %}checked{% endif %}>
                                                            <i class="fa-solid fa-bottle-water"></i>Bottled Water
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <label>
                                                            <input type="checkbox" name="amenities" value="8" 
                                                                {% if 8 in selected_amenities %}checked{% endif %}>
                                                            <i class="fa-brands fa-cotton-bureau"></i>Bathrobe and Slippers
                                                        </label>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                                <ul class="list-unstyled">
                                                    <li>
                                                        <label>
                                                            <input type="checkbox" name="amenities" value="9" 
                                                                {% if 9 in selected_amenities %}checked{% endif %}>
                                                            <i class="fa-solid fa-wifi"></i>WiFi
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <label>
                                                            <input type="checkbox" name="amenities" value="10" 
                                                                {% if 10 in selected_amenities %}checked{% endif %}>
                                                            <i class="fa-solid fa-snowflake"></i>Air Conditioning
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <label>
                                                            <input type="checkbox" name="amenities" value="11" 
                                                                {% if 11 in selected_amenities %}checked{% endif %}>
                                                            <i class="fa-solid fa-igloo"></i>Mini Refrigerator
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <label>
                                                            <input type="checkbox" name="amenities" value="12" 
                                                                {% if 12 in selected_amenities %}checked{% endif %}>
                                                            <i class="fa-solid fa-mug-saucer"></i>Tea Kettle
                                                        </label>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                                <ul class="list-unstyled">
                                                    <li>
                                                        <label>
                                                            <input type="checkbox" name="amenities" value="13" 
                                                                {% if 13 in selected_amenities %}checked{% endif %}>
                                                            <i class="fa-solid fa-fire-flame-simple"></i>Hair Dryer
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <label>
                                                            <input type="checkbox" name="amenities" value="14" 
                                                                {% if 14 in selected_amenities %}checked{% endif %}>
                                                            <i class="fa-solid fa-tv"></i>TV
                                                        </label>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="container" id="amenity-filter-button-container">
                                        <div id="amenity-filter-button-div">
                                            <button id="amenity-filter-button" class="nunisi-button" type="button" data-action="filter" onclick="addAmenityFilterToBookingForm()">Apply Filters</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Room cards-->
                {% for valid_room in page_obj %}
                    <div class="card available-room-card bg-nunisi-gold">
                        <div class="row">
                            <div class = "col-12 col-lg-6">
                                <!--Room Name-->
                                <h2 class="caveat-font available-room-name font-nunisi-green">{{ valid_room.room.sanitised_name }}</h2>
                                <!--Amenities-->
                                <h3 class="available-room-amenities-title roboto-font font-off-black">Amenities</h3>
                                <ul>
                                    {% for amenity_id in valid_room.room.amenities %}
                                        {% for amenity in amenities %}
                                            {% if amenity.id == amenity_id %}
                                                <li class="available-room-amenity roboto-font font-off-black">
                                                    <div class="row">
                                                        <div class="col-2 col-sm-1 amenity-icon-div">
                                                            {{ amenity.icon|safe }}
                                                        </div>
                                                        <div class="col-10 col-sm-11">
                                                            {{ amenity.sanitised_name }}
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                </ul>
                                <!--Room Description-->
                                <article class="available-room-description roboto-font font-off-black">
                                    <h4>Room Description:</h4>
                                    {{ valid_room.room.description }}
                                </article>
                            </div>
                            <div class="col-12 col-lg-6 room-image-booking-column">
                                <!--Room image-->
                                {% if valid_room.room.image %}
                                    <img src="{{ valid_room.room.image_url }}" alt="{{ valid_room.room.sanitised.name }}" class="available-room-image">
                                {% else %}
                                    <p>No image available</p>
                                {% endif %}
                                <!--Summary info-->
                                <div class="room-trip-info-div">
                                    <div class="roboto-font font-nunisi-gold available-room-booking-div">
                                        <p><span class="font-weight-bolder">Number of days: </span>{{ total_days }}</p>
                                        <p><span class="font-weight-bolder">Overal cost: </span>£{{ valid_room.total_cost }}</p>
                                    </div>
                                    <!--Booking button-->
                                    <form method="POST" action="{% url 'checkout' %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="room_id" value="{{ valid_room.room.id }}">
                                        <input type="hidden" name="total_days" value="{{ total_days }}">
                                        <input type="hidden" name="check_in_date" value="{{ booking_form.check_in_date.value }}">
                                        <input type="hidden" name="check_out_date" value="{{ booking_form.check_out_date.value }}">
                                        <input type="hidden" name="adults" value="{{ booking_form.adults.value }}">
                                        <input type="hidden" name="children" value="{{ booking_form.children.value }}">
                                        <input type="hidden" name="infants" value="{{ booking_form.infants.value }}">
                                        <input type="hidden" name="direct_to_checkout" value = "True">
                                        <button type="submit" class="btn btn-primary available-room-booking-button nunisi-button">Book Now</button>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                {% endfor %}
                <!--Pagination block-->
                <nav aria-label="Page navigation" id="rooms-pagination">
                    <ul class="pagination justify-content-center" data-action="pagination">
                        <!--Previous and disable if on first page-->
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="#" data-action="pagination" data-page="{{ page_obj.previous_page_number }}">Previous</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">Previous</a>
                            </li>
                        {% endif %}
                        
                        <!--Numbered pages-->
                        {% for num in page_obj.paginator.page_range %}
                            <li class="page-item {% if page_obj.number == num %}active{% endif %}">
                                <a class="page-link" href="#" data-action="pagination" data-page="{{ num }}">{{ num }}</a>
                            </li>
                        {% endfor %}
                        
                        <!--Next and disable if on last page-->
                        {% if page_obj.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="#" data-action="pagination" data-page="{{ page_obj.next_page_number }}">Next</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled">
                                <a class="page-link" href="#" tabindex="-1">Next</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            {% else %}
                <!--No matches message-->
                <p id="no-rooms" class="roboto-font font-off-black">Sorry, no rooms are available that match your search criteria. Please adjust your search and try again.</p>
                <div class="home-button-container">
                    <a href="{% url 'home' %}" class="home-button nunisi-button">Return to Homepage</a>
                </div>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
{% block postloadjs %}
<script>
    /** Adds the hidden amenity filter input to the booking form */
    function addAmenityFilterToBookingForm() {
        // Get all checked checkboxes
        const selectedAmenities = Array.from(
            document.querySelectorAll("input[name='amenities']:checked")
        ).map((checkbox) => checkbox.value);

        // Get the booking form
        const bookingForm = document.querySelector(".booking-form-div form");

        // Remove any existing amenities input
        let amenityInput = bookingForm.querySelector("input[name='amenities']");
        if (!amenityInput) {
            amenityInput = document.createElement("input");
            amenityInput.type = "hidden";
            amenityInput.name = "amenities";
            bookingForm.appendChild(amenityInput);
        }

        // Set the value of the amenity input as a JSON
        // string of selected amenities
        amenityInput.value = JSON.stringify(selectedAmenities);
    }

    /**
     * Adds the hidden sort filter to the booking for
     * Including the amenity filter
    */
    function addSortFilterToBookingForm() {
        const sortElement = document.getElementById("sort-selector");
        // Get the selected value of the select element
        const sortValue = (sortElement
            ? sortElement.value
            : "reset");

        // Do nothing if sort by... is selected
        if (sortValue === "reset") {
            // Keep the amenity filter
            addAmenityFilterToBookingForm();
            return;
        }

        // Get the header booking form
        const bookingForm = document.querySelector(".booking-form-div form");

        // Add the current amenity filter
        addAmenityFilterToBookingForm();
        // Check if the sort option has been added to the booking form
        let sortInput = bookingForm.querySelector("input[name='sort']");
        // Add the sort option to the booking form
        if (!sortInput) {
            sortInput = document.createElement("input");
            sortInput.type = "hidden";
            sortInput.name = "sort";
            bookingForm.appendChild(sortInput);
        }
        // Add the value selected (sortValue) to the booking form sortInput
        sortInput.value = sortValue;
    }

    /**
     * Add the page filter to the booking form for pagination
     * Also includes the sort filter
     * Which also includes the amenity filter
    */
    function addPageFilterToBookingForm(pageNumber) {
        const bookingForm = document.querySelector(".booking-form-div form");

        // Add the page number to the form as a hidden input field
        let pageInput = bookingForm.querySelector("input[name='page']");
        if (!pageInput) {
            pageInput = document.createElement("input");
            pageInput.type = "hidden";
            pageInput.name = "page";
            bookingForm.appendChild(pageInput);
        }
        // Set the value to the selected page number
        pageInput.value = pageNumber;
        
        // Add sort (which includes the amenity filter)
        addSortFilterToBookingForm();
    }

    /**
     * Attach addPageFilterToBookingForm to the pagination links
    */
    document.querySelectorAll(".pagination .page-link").forEach(function (link) {
        link.addEventListener("click", function (event) {
            event.preventDefault();
            const pageNumber = this.getAttribute("data-page");
            addPageFilterToBookingForm(pageNumber);
        });
    });

    /**
    * Make changing the sort/filter/page number submit the new form
    */
    document.querySelectorAll("[data-action]").forEach((element) => {
        const action = element.getAttribute("data-action");
        const bookingForm = document.querySelector(".booking-form-div form");
        if (action === "sort") {
            // Handle the 'sort' action on change
            element.addEventListener("click", () => {
                // Check if a selection is made
                const sortElement = document.getElementById("sort-selector");
                // Put it to default if there is no value
                const sortValue = (sortElement
                    ? sortElement.value
                    : "reset");
                // If no value, do nothing
                if (sortValue === "reset") {
                    return;
                }
                addSortFilterToBookingForm();
                bookingForm.submit();
            });
        } else if (action === "filter") {
            // Handle the 'filter' action on click
            element.addEventListener("click", () => {
                bookingForm.submit();
            });
        } else if (action === "pagination") {
            // Handle the 'pagination' action on click
            element.addEventListener("click", (event) => {
                // Prevent default behavior for all pagination links
                // To stop diabled previous/next links working
                event.preventDefault();
                // Check if the element has the "disabled" class
                if (event.target.classList.contains("disabled")) {
                    return;
                }
                // If not, submit the form
                bookingForm.submit();
            });
        }
    });
</script>
{% endblock %}
