{% extends 'base.html' %}
{% load static %}

{% block extra_title %}
 - Available Rooms
{% endblock %}

{% block content %}
    <div class="content">
        <h1 class="font-nunisi-green jost-font font-weight-bolder" id="available-rooms-title">Available Rooms</h1>
        {% if booking_form.errors %}
            <div class="alert alert-danger roboto-font" id="available-rooms-error">
                <p><strong>Oops!</strong> Something went wrong. Please check the form for errors.</p>
                <ul>
                    {% for field in booking_form %}
                        {% for error in field.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        {% else %}
            {% if valid_rooms %}
                <!--Sorting block-->
                <div>
                    <label for="sort-selector">Sort By:</label>
                    <select id="sort-selector" onchange="submitBookingFormWithSort(this.value)">
                        <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                        <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                        <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                    </select>
                </div>
                <!--Filter block-->
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <!--Accordion title-->
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Filter by Amenity
                            </button>
                        </h2>
                        <!--Accordion content-->
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <form method="POST" action="{% url 'available_rooms' %}">
                                    {% csrf_token %}
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                                <ul class="list-unstyled">
                                                    <li>
                                                        <label>
                                                            <input type="checkbox" name="amenities" value="1" 
                                                                {% if 1 in selected_amenities %}checked{% endif %}>
                                                            <i class="fa-solid fa-bed"></i> Single Bed
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <label>
                                                            <input type="checkbox" name="amenities" value="2" 
                                                                {% if 2 in selected_amenities %}checked{% endif %}>
                                                            <i class="fa-solid fa-bed"></i>Double Bed
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <label>
                                                            <input type="checkbox" name="amenities" value="3" 
                                                                {% if 3 in selected_amenities %}checked{% endif %}>
                                                            <i class="fa-regular fa-sun"></i>Balcony
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <label>
                                                            <input type="checkbox" name="amenities" value="4" 
                                                                {% if 4 in selected_amenities %}checked{% endif %}>
                                                            <i class="fa-solid fa-water"></i>River View
                                                        </label>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                                <ul class="list-unstyled">
                                                    <li>
                                                        <label>
                                                            <input type="checkbox" name="amenities" value="5" 
                                                                {% if 5 in selected_amenities %}checked{% endif %}>
                                                            <i class="fa-solid fa-mountain-sun"></i>Mountain View
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <label>
                                                            <input type="checkbox" name="amenities" value="6" 
                                                                {% if 6 in selected_amenities %}checked{% endif %}>
                                                            <i class="fa-solid fa-mosquito-net"></i>Mosquito Nets
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <label>
                                                            <input type="checkbox" name="amenities" value="7" 
                                                                {% if 7 in selected_amenities %}checked{% endif %}>
                                                            <i class="fa-solid fa-bottle-water"></i>Complimentary Bottled Water
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <label>
                                                            <input type="checkbox" name="amenities" value="8" 
                                                                {% if 8 in selected_amenities %}checked{% endif %}>
                                                            <i class="fa-brands fa-cotton-bureau"></i>Bathrobe and Slippers
                                                        </label>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                                <ul class="list-unstyled">
                                                    <li>
                                                        <label>
                                                            <input type="checkbox" name="amenities" value="9" 
                                                                {% if 9 in selected_amenities %}checked{% endif %}>
                                                            <i class="fa-solid fa-wifi"></i>WiFi
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <label>
                                                            <input type="checkbox" name="amenities" value="10" 
                                                                {% if 10 in selected_amenities %}checked{% endif %}>
                                                            <i class="fa-solid fa-snowflake"></i>Air Conditioning
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <label>
                                                            <input type="checkbox" name="amenities" value="11" 
                                                                {% if 11 in selected_amenities %}checked{% endif %}>
                                                            <i class="fa-solid fa-igloo"></i>Mini Refrigerator
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <label>
                                                            <input type="checkbox" name="amenities" value="12" 
                                                                {% if 12 in selected_amenities %}checked{% endif %}>
                                                            <i class="fa-solid fa-mug-saucer"></i>Tea Kettle
                                                        </label>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-12 col-sm-6 col-md-4 col-lg-3">
                                                <ul class="list-unstyled">
                                                    <li>
                                                        <label>
                                                            <input type="checkbox" name="amenities" value="13" 
                                                                {% if 13 in selected_amenities %}checked{% endif %}>
                                                            <i class="fa-solid fa-fire-flame-simple"></i>Hair Dryer
                                                        </label>
                                                    </li>
                                                    <li>
                                                        <label>
                                                            <input type="checkbox" name="amenities" value="14" 
                                                                {% if 14 in selected_amenities %}checked{% endif %}>
                                                            <i class="fa-solid fa-tv"></i>TV
                                                        </label>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-12">
                                                <button type="button" onclick="submitBookingFormWithAmenityFilter()">Apply Filters</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% for valid_room in valid_rooms %}
                    <div class="card available-room-card bg-nunisi-gold">
                        <div class="row">
                            <div class = "col-12 col-lg-6">
                                <h2 class="caveat-font available-room-name font-nunisi-green">{{ valid_room.room.sanitised_name }}</h2>
                                <h3 class="available-room-amenities-title roboto-font font-off-black">Amenities</h3>
                                <ul>
                                    {% for amenity_id in valid_room.room.amenities %}
                                        {% for amenity in amenities %}
                                            {% if amenity.id == amenity_id %}
                                                <li class="available-room-amenity roboto-font font-off-black">
                                                    <div class="row">
                                                        <div class="col-2 col-sm-1 amenity-icon-div">
                                                            {{ amenity.icon|safe }}
                                                        </div>
                                                        <div class="col-10 col-sm-11">
                                                            {{ amenity.sanitised_name }}
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                </ul>
                                <article class="available-room-description roboto-font font-off-black">
                                    <h4>Room Description:</h4>
                                    {{ valid_room.room.description }}
                                </article>
                            </div>
                            <div class="col-12 col-lg-6">
                                {% if valid_room.room.image %}
                                    <img src="{{ valid_room.room.image.url }}" alt="{{ valid_room.room.sanitised.name }}" class="available-room-image">
                                {% else %}
                                    <p>No image available</p>
                                {% endif %}
                                <hr class="index-horizontal-rule">
                                <div class="roboto-font font-off-black available-room-booking-div">
                                    <p><span class="font-weight-bolder">Number of days: </span>{{ total_days }}</p>
                                    <p><span class="font-weight-bolder">Overal cost: </span>£{{ valid_room.total_cost }}</p>
                                </div>
                                <!--Have the action something like: url 'process_booking' room.id -->
                                <form method="POST" action="{% url 'checkout' %}">
                                    {% csrf_token %}
                                    <input type="hidden" name="room_id" value="{{ valid_room.room.id }}">
                                    <input type="hidden" name="total_days" value="{{ total_days }}">
                                    <input type="hidden" name="check_in_date" value="{{ booking_form.check_in_date.value }}">
                                    <input type="hidden" name="check_out_date" value="{{ booking_form.check_out_date.value }}">
                                    <input type="hidden" name="adults" value="{{ booking_form.adults.value }}">
                                    <input type="hidden" name="children" value="{{ booking_form.children.value }}">
                                    <input type="hidden" name="infants" value="{{ booking_form.infants.value }}">
                                    <input type="hidden" name="direct_to_checkout" value = "True">
                                    <button type="submit" class="btn btn-primary available-room-booking-button nunisi-button">Book Now</button>
                                </form>

                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p id="no-rooms" class="roboto-font font-off-black">Sorry, no rooms are available that match your search criteria. Please adjust your search and try again.</p>
            {% endif %}
        {% endif %}
    </div>
{% endblock %}
{% block postloadjs %}
<script>
    function submitBookingFormWithSort(sortValue) {
        // Do nothing if sort by... is selected
        if (sortValue === "reset") {
            return;
        }

        // Get the header booking form
        const bookingForm = document.querySelector(".booking-form-div form");

        // Log an error to the console if the booking form is not found
        if (!bookingForm) {
            console.log("Booking form not found!");
            return;
        }

        // Check if the sort option has been added to the booking form
        let sortInput = bookingForm.querySelector("input[name='sort']");
        // Add the sort option to the booking form
        if (!sortInput) {
            sortInput = document.createElement("input");
            sortInput.type = "hidden";
            sortInput.name = "sort";
            bookingForm.appendChild(sortInput);
        }
        // Add the value selected (sortValue) to the booking form sortInput
        sortInput.value = sortValue;

        // Submit the form
        bookingForm.submit();
    }

    function submitBookingFormWithAmenityFilter() {
        // Get all checked checkboxes
        const selectedAmenities = Array.from(document.querySelectorAll('input[name="amenities"]:checked'))
                                       .map(checkbox => checkbox.value);

        // Get the booking form
        const bookingForm = document.querySelector('.booking-form-div form');

        // Remove any existing amenities input
        let amenityInput = bookingForm.querySelector('input[name="amenities"]');
        if (!amenityInput) {
            amenityInput = document.createElement('input');
            amenityInput.type = 'hidden';
            amenityInput.name = 'amenities';
            bookingForm.appendChild(amenityInput);
        }

        // Set the value of the amenity input as a JSON string of selected amenities
        amenityInput.value = JSON.stringify(selectedAmenities);

        // Submit the form
        bookingForm.submit();
    }
</script>
{% endblock %}
