{% extends "allauth/layouts/entrance.html" %}
{% load i18n %}
{% load allauth %}

{% block extra_title %}
    - Inactive
{% endblock %}

{% block head_title %}
    {% translate "Account Inactive" %}
{% endblock head_title %}
{% block content %}
    <div class="content allauth-content">
        <!--Page title-->
        <h1 class="page-title">
            {% translate "Account Inactive" %}
        </h1>
        <!--Message-->
        <p class="allauth-message">
            {% translate "This account is inactive." %}
        </p>
    </div>
{% endblock content %}
