{% extends "account/base_manage.html" %}
{% load allauth i18n %}
{% block extra_title %}
    - Sign out
{% endblock %}
{% block head_title %}
    {% trans "Sign Out" %}
{% endblock head_title %}
{% block content %}
    <div class="content allauth-content">
        <!--Page title-->
        <h1 class="page-title">
            {% trans "Sign Out" %}
        </h1>
        <!--Message-->
        <p class="allauth-message">
            {% trans 'Are you sure you want to sign out?' %}
        </p>
        {% url 'account_logout' as action_url %}
        {% element form method="post" action=action_url no_visible_fields=True %}
            {% slot body %}
                {% csrf_token %}
                {{ redirect_field }}
            {% endslot %}
            {% slot actions %}
            <!--Button-->
                <div class="allauth-button-div">
                    {% element button type="submit" %}
                        {% trans 'Sign Out' %}
                    {% endelement %}
                </div>
            {% endslot %}
        {% endelement %}
    </div>
{% endblock content %}
