{% extends "account/base_manage_password.html" %}
{% load allauth i18n %}
{% block extra_title %}
    - Change Password
{% endblock %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
    <div class="content allauth-content">
        <!--Page title-->
        <h1 class="page-title">
            {% trans "Change Password" %}
        </h1>
        {% url 'account_change_password' as action_url %}
        <!--Change password form-->
        <div class="allauth-form-container">
            {% element form form=form method="post" action=action_url %}
                {% slot body %}
                    <div class="allauth-form sign-up-form">
                        {% csrf_token %}
                        {{ redirect_field }}
                        {% element fields form=form %}
                        {% endelement %}
                    </div>
                {% endslot %}
                {% slot actions %}
                    <!--Submit button-->
                    <div class="allauth-button-div">
                        {% element button type="submit" %}
                            {% trans "Change Password" %}
                        {% endelement %}
                    </div>
                    <!--Reset password-->
                    <p class="allauth-button-div">
                        <a href="{% url 'account_reset_password' %}" class="nunisi-button forgot-password-button">{% trans "Forgot Password?" %}</a>
                    </p>
                {% endslot %}
            {% endelement %}
        </div>
    </div>
{% endblock content %}
