{% extends "account/base_entrance.html" %}
{% load allauth i18n %}
{% block extra_title %}
    - Signup
{% endblock %}
{% block head_title %}
    {% trans "Signup" %}
{% endblock head_title %}
{% block content %}
    <div class="content allauth-content">
        <!--Page title-->
        <h1 class="page-title">
            {% trans "Sign Up" %}
        </h1>
        {% setvar link %}
            <a href="{{ login_url }}">
            {% endsetvar %}
            {% setvar end_link %}
            </a>
        {% endsetvar %}
        <!--Message-->
        <p class="allauth-message">
            {% blocktranslate %}Already have an account? Then please {{ link }}sign in{{ end_link }}.{% endblocktranslate %}
        </p>
        {% if not SOCIALACCOUNT_ONLY %}
            {% url 'account_signup' as action_url %}
            <div class="allauth-form-container">
                <!--Sign up form-->
                {% element form form=form method="post" action=action_url tags="entrance,signup" %}
                    {% slot body %}
                        <div class="allauth-form sign-up-form">
                            {% csrf_token %}
                            {% element fields form=form unlabeled=True %}
                            {% endelement %}
                            {{ redirect_field }}
                        </div>
                    {% endslot %}
                    {% slot actions %}
                        <div class="allauth-button-div">
                            {% element button tags="prominent,signup" type="submit" %}
                                {% trans "Sign Up" %}
                            {% endelement %}
                        </div>
                    {% endslot %}
                {% endelement %}
            </div>
        {% endif %}
        {% if PASSKEY_SIGNUP_ENABLED %}
            {% element hr %}
            {% endelement %}
            {% element button href=signup_by_passkey_url tags="prominent,signup,outline,primary" %}
                {% trans "Sign up using a passkey" %}
            {% endelement %}
        {% endif %}
        <!--Social accounts-->
        {% if SOCIALACCOUNT_ENABLED %}
            {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
        {% endif %}
    </div>
{% endblock content %}
