{% extends 'base.html' %}
{% load static %}

{% block extra_title %}
 - 404
{% endblock %}

{% block content %}
    <div class="content">
        <!--Page Title-->
        <h1 class="page-title">
            Error: 404
        </h1>
        <!--Error message-->
        <p class="page-error-message">
            Error 404: page not found. Please return to the homepage.
        </p>
        <!--Home button-->
        <div class="home-button-container">
            <a href="{% url 'home' %}" class="home-button nunisi-button">Return to Homepage</a>
        </div>
    </div>
{% endblock %}