{% load static %}
<!doctype html>
<html lang="en">
    <head>
        <!--Block for meta information that can be expanded upon-->
        {% block meta %}
            <!--Avoid compatability issues with internet explorer-->	
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <!--Keywords-->
            <meta name="keywords" content="Nunisi forest hotel, spa resort Georgia, therapeutic waters Georgia, relaxing spa Georgia, natural healing waters, forest resort Georgia, eco resort Georgia, wellness retreat, spa in nature, therapeutic spa Georgia, mineral waters Georgia, forest spa retreat, luxury spa Georgia, Georgia resort, Nunisi therapeutic spa, eco-friendly hotel Georgia, relaxation in nature, forest vacation, Georgia spa hotels, wellness tourism Georgia">
            <meta name="description" content="Escape to Nunisi Forest Hotel & Spa in Georgia for a rejuvenating retreat. Enjoy natural therapeutic waters and serene forest views.">
            <meta name="author" content="Adam Michael Fairley">
        {% endblock %}
        <!--Block for page specific extra meta information-->
        {% block extra_meta %}
        {% endblock %}
        <!--Page title for the browser tab with a block to add page specific titles-->
        <title>Nunisi Forest Hotel and Spa{% block extra_title %}{% endblock %}</title>
        <!--CSS block-->
        {% block corecss %}
            <!--Bootstrap link-->
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
            <!--Static CSS file-->
            <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
            <!--Favicon-->
            <link rel="apple-touch-icon" sizes="180x180" href="{% static 'img/favicon/apple-touch-icon.png' %}">
            <link rel="icon" type="image/png" sizes="32x32" href="{% static 'img/favicon/favicon-32x32.png' %}">
            <link rel="icon" type="image/png" sizes="16x16" href="{% static 'img/favicon/favicon-16x16.png' %}">
            <link rel="manifest" href="{% static 'img/favicon/site.webmanifest' %}">
        {% endblock %}
        {% block extra_css %}
        {% endblock %}
        <!-- JavaScript blocks -->
        {% block corejs %}
            <!-- Bootstrap JavaScript link-->
            <!-- Put here so that they are loaded as early as possible -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
            <!-- Fontawesome link -->
            <script src="https://kit.fontawesome.com/e1041abfbd.js" crossorigin="anonymous"></script>
            <!-- Stripe JavaScript link -->
            <script src="https://js.stripe.com/v3/"></script>
            <!-- JQuery -->
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <!-- Base JavaScript link-->
            <script src="{% static 'js/base.js' %}" defer></script>
        {% endblock %}
        {% block extra_js %}
        {% endblock %}
        <!-- Google Analytics Tag -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-SVQFZ5LHY4"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'G-SVQFZ5LHY4');
        </script>
    </head>
    <body>
        <!--Navigation Bar-->
        <nav class="navbar navbar-light bg-nunisi-green padding-zero" id="top-nav">
            <div class="containter w-100">
                <div class="row w-100">
                    <!--Site Logo-->
                    <div class="col-6 col-lg-auto text-left site-logo-container padding-zero">
                        <a class="navbar-brand" href="{% url 'home' %}">
                            <img src="{% static 'img/nunisi-site-logo.png'%}" alt="Nunisi Forest Hotel and Spa Logo" id="site-logo-nav" loading="lazy">
                        </a>
                    </div>
                    <!--Room search form-->
                    <div class="col d-none d-lg-block">
                        <div class="mx-auto booking-form-div">
                            <form method="POST" action="{% url 'available_rooms' %}">
                                {% csrf_token %}
                                <div class="row guest-row">
                                    <!--Guest selection-->
                                    <div class="col-9 guest-selection-row-container">
                                        <div class="row guest-selection-row">
                                            <!--Adults-->
                                            <div class="col-4 guest-selection adult-selection">
                                                <p class="guests-choices margin-zero w-100">
                                                    {{ booking_form_desktop.adults.label_tag }}
                                                    {{ booking_form_desktop.adults }}
                                                </p>
                                            </div>
                                            <!--Children-->
                                            <div class="col-4 guest-selection children-selection">
                                                <p class="guests-choices margin-zero w-100">
                                                    {{ booking_form_desktop.children.label_tag }}
                                                    {{ booking_form_desktop.children }}
                                                </p>
                                            </div>
                                            <!--Infants-->
                                            <div class="col-4 guest-selection">
                                                <p class="guests-choices margin-zero w-100">
                                                    {{ booking_form_desktop.infants.label_tag }}
                                                    {{ booking_form_desktop.infants }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                    <!--Guest counter-->
                                    <div class="col-3 guest-counter-container">
                                        <div class="guest-counter">
                                            <p class="margin-zero w-100">
                                                Guests: 
                                            </p>
                                            <p id="desktop-total-guests">
                                                {% if total_guests %}
                                                    {{total_guests}}
                                                {% else %}
                                                    0
                                                {% endif %}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <!--Date selection-->
                                    <div class="col-9">
                                        <div class="row">
                                            <div class="col-6 form-floating check-in-div">
                                                {{ booking_form_desktop.check_in_date.label_tag }}
                                                <br>
                                                {{ booking_form_desktop.check_in_date }}
                                            </div>
                                            <div class="col-6 form-floating check-out-div">
                                                {{ booking_form_desktop.check_out_date.label_tag }}
                                                <br>
                                                {{ booking_form_desktop.check_out_date }}
                                            </div>
                                        </div>
                                    </div>
                                    <!--Search button-->
                                    <div class="col-3 booking-form-submit-div">
                                        <button type="submit" class="btn nunisi-button form-submit-button">Search <i class="fa-solid fa-magnifying-glass"></i></button>
                                    </div>
                                </div>
                            </form> 
                        </div>
                    </div>
                    <!--Account dropdown-->
                    <div id="account-dropdown-super-div" class="col-6 col-lg-auto text-right">
                        <div id="account-dropdown-div" class="ms-auto">
                            <div class="dropdown" id="account-nav-menu">
                                <button id="account-dropdown" class="btn dropdown-toggle bg-nunisi-green font-nunisi-gold" type="button" data-bs-toggle="dropdown" aria-expanded="false" aria-label="Account setting tab">
                                    <i class="fa-solid fa-bars"></i><i class="fa-solid fa-circle-user"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end bg-nunisi-green border-dark-gold" id="account-nav-menu-dropdown">
                                    <!--Logged in links-->
                                    {% if user.is_authenticated %}
                                        {% if user.is_superuser %}
                                            <!--Superuser Rooms Link-->
                                            <li class="account-link font-nunisi-gold jost-font">
                                                <a href="{% url 'rooms_superuser' %}">
                                                    Rooms
                                                </a>
                                            </li>
                                            <!--Superuser Trips link-->
                                            <li class="account-link font-nunisi-gold jost-font">
                                                <a href="{% url 'trips_superuser' %}">
                                                    Trips
                                                </a>
                                            </li>
                                        {% else %}
                                            <!--User Trips link-->
                                            <li class="account-link font-nunisi-gold jost-font">
                                                <a href="{% url 'trips_user' %}">
                                                    Trips
                                                </a>
                                            </li>
                                        {% endif %}
                                        <!--User Account-->
                                        <li class="account-link font-nunisi-gold jost-font">
                                            <a href="{% url 'user_profile' %}?referer={{ request.META.HTTP_REFERER }}">
                                                 Account Settings
                                            </a>
                                        </li>
                                        <!--Divider-->
                                        <li><hr class="dropdown-divider"></li>
                                        <!--Logout button-->
                                        <li class="account-link font-nunisi-gold jost-font">
                                            <a href="{% url 'account_logout' %}">
                                                Logout
                                            </a>
                                        </li>
                                    <!--Logged out links-->
                                    {% else %}
                                        <!--Sign up-->
                                        <li class="account-link font-nunisi-gold jost-font">
                                            <a href="{% url 'account_signup' %}">
                                                Sign Up
                                            </a>
                                        </li>
                                        <!--Log in-->
                                        <li class="account-link font-nunisi-gold jost-font">
                                            <a href="{% url 'account_login' %}">
                                                Login
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <!--Toasts-->
        <div aria-live="polite" aria-atomic="true" class="position-relative" style="z-index: 1050;">
            <div class="toast-container position-fixed top-0 end-0 p-3">
              {% if messages %}
                {% for message in messages %}
                  <div class="toast align-items-center text-bg-{{ message.tags }} border-0" role="alert" aria-live="assertive" aria-atomic="true" data-bs-autohide="true" data-bs-delay="3000">
                    <div class="d-flex">
                      <div class="toast-body">
                        {{ message }}
                      </div>
                      <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                  </div>
                {% endfor %}
              {% endif %}
            </div>
        </div>
        <!--Header block-->
        {% block page_header %}
        {% endblock %}
        <!--Main content block-->
        {% block content %}
        {% endblock %}
        <!--Footer-->
        <footer class="footer roboto-font bg-nunisi-green font-nunisi-gold">
            <div class="container footer-container">
                <div class="row footer-row">
                    <!--Hotel contact information-->
                    <div class="col-12 col-lg-4 hotel-socials">
                        <ul>
                            <!--Hotel social media links-->
                            <li>
                                <a href="https://www.facebook.com/" target="_blank" rel="noopener" class="facebook-link" aria-label="Follow us on FaceBook">
                                    <i class="fa-brands fa-facebook social-icon"></i>
                                </a>
                                <a href="https://www.instagram.com/" target="_blank" rel="noopener" aria-label="Follow us on Instagram">
                                    <i class="fa-brands fa-instagram social-icon"></i>
                                </a>
                            </li>
                            <!-- Hotel Email Address -->
                            <li>
                                <a href="mailto:nunisi_hotel@gmail.com" class="hotel-email-link" aria-label="Contact us via Email"><i class="fa-solid fa-envelope email-icon-footer"></i>nunisi_hotel@gmail.com</a>
                            </li>
                            <!-- Hotel Phone Number -->
                            <li>
                                <i class="fa-solid fa-phone phone-icon-footer"></i>555-555-1234
                            </li>
                        </ul>
                    </div>
                    <!--Site logo information-->
                    <div class="col-4 footer-logo-div d-none d-lg-flex">
                        <a class="footer-logo" href="{% url 'home' %}">
                            <img src="{% static 'img/nunisi-site-logo.png'%}" alt="Nunisi Forest Hotel and Spa Logo" loading="lazy">
                        </a>
                    </div>  
                    <!--Developer contact information-->
                    <div class="col-12 col-lg-4 developer-info-div">
                        <p>Developed by Adam Michael Fairley</p><a href="https://github.com/amfairley" target="_blank" rel="noopener" aria-label="Check out the developers GitHub profile"><i class="fa-brands fa-github"></i></a>
                    </div>
                </div>
            </div>  
        </footer>
        <!--Toast JavaScript-->
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                /**Displays the site-wide toasts*/
                var toastElList = Array.from(document.querySelectorAll(".toast"));
                var toastList = toastElList.map(function (toastEl) {
                    return new bootstrap.Toast(toastEl);
                });
                toastList.forEach((toast) => toast.show());
            });
        </script>
        <!--Post load JavaScript block-->
        {% block postloadjs %}
        {% endblock %}
    </body>
</html>