{% load static %}
<!doctype html>
<html lang="en">
    <head>
        {% block meta %}
            <!-- Avoid compatability issues with internet explorer -->	
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="keywords" content="Nunisi forest hotel, spa resort Georgia, therapeutic waters Georgia, relaxing spa Georgia, natural healing waters, forest resort Georgia, eco resort Georgia, wellness retreat, spa in nature, therapeutic spa Georgia, mineral waters Georgia, forest spa retreat, luxury spa Georgia, Georgia resort, Nunisi therapeutic spa, eco-friendly hotel Georgia, relaxation in nature, forest vacation, Georgia spa hotels, wellness tourism Georgia">
            <meta name="description" content="Escape to Nunisi Forest Hotel & Spa in Georgia for a rejuvenating retreat. Enjoy natural therapeutic waters and serene forest views.">
            <meta name="author" content="Adam Michael Fairley">
        {% endblock %}
        {% block extra_meta %}
        {% endblock %}
        <title>Nunisi Forest Hotel and Spa {% block extra_title %}{% endblock %}</title>
        {% block corecss %}
            <!-- Bootstrap link-->
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
            <!-- Static CSS file -->
            <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
            <!-- Favicon -->
            <link rel="apple-touch-icon" sizes="180x180" href="/media/favicon/apple-touch-icon.png">
            <link rel="icon" type="image/png" sizes="32x32" href="/media/favicon/favicon-32x32.png">
            <link rel="icon" type="image/png" sizes="16x16" href="/media/favicon/favicon-16x16.png">
            <link rel="manifest" href="/media/favicon/site.webmanifest">
        {% endblock %}
        {% block extra_css %}
        {% endblock %}
        {% block corejs %}
            <!-- Bootstrap JavaScript link-->
            <!-- Put here so that they are loaded as early as possible -->
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
            <!-- Fontawesome link -->
            <script src="https://kit.fontawesome.com/e1041abfbd.js" crossorigin="anonymous"></script>
            <!-- Stripe JavaScript link -->
            <script src="https://js.stripe.com/v3/"></script>
            <!-- JQuery -->
            <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
            <!-- Booking form guest number update -->
            <script>
                function updateGuestCount() {
                    // Get values from the form in real time (0 if no value) for both forms
                    const adultsTopNav = parseInt(document.querySelector("#top-nav #id_adults").value) || 0;
                    const adultsIndexBookingForm = parseInt(document.querySelector("#index-booking-form #id_adults").value) || 0;
                    const childrenTopNav = parseInt(document.querySelector("#top-nav #id_children").value) || 0;
                    const childrenIndexBookingForm = parseInt(document.querySelector("#index-booking-form #id_children").value) || 0;
                    const infantsTopNav = parseInt(document.querySelector("#top-nav #id_infants").value) || 0;
                    const infantsIndexBookingForm = parseInt(document.querySelector("#index-booking-form #id_infants").value) || 0;
                    // Update total guests for both forms
                    const totalGuestsTop = adultsTopNav + childrenTopNav + infantsTopNav;
                    const totalGuestsIndex = adultsIndexBookingForm + childrenIndexBookingForm + infantsIndexBookingForm;
                    const totalGuestsTopNav = document.querySelector("#top-nav #total-guests");
                    if (totalGuestsTopNav) {
                        totalGuestsTopNav.innerText = `${totalGuestsTop}`;
                    }
                    const totalGuestsIndexForm = document.querySelector("#index-booking-form #total-guests");
                    if (totalGuestsIndexForm) {
                        totalGuestsIndexForm.innerText = `${totalGuestsIndex}`;
                    }
                }
            </script>
            <!-- Open calendar widgets when clicking entire input area -->
            <script>
                document.addEventListener("DOMContentLoaded", function() {
                    // Get the checkin/out inputs for both forms
                    const checkInInputTop = document.querySelector("#top-nav #id_check_in_date");
                    const checkOutInputTop = document.querySelector("#top-nav #id_check_out_date");
                    const checkInInputIndex = document.querySelector("#index-booking-form #id_check_in_date");
                    const checkOutInputIndex = document.querySelector("#index-booking-form #id_check_out_date");

                    // Add event listener to navbar check in date
                    checkInInputTop.addEventListener('click', function() {
                        this.showPicker();
                    });
                    // Add event listener to navbar check out date
                    checkOutInputTop.addEventListener("click", function() {
                        this.showPicker();
                    });
                    // Add event listener to homepage check in date
                    checkInInputIndex.addEventListener("click", function() {
                        this.showPicker();
                    });
                    // Add event listener to homepage check out date
                    checkOutInputIndex.addEventListener("click", function() {
                        this.showPicker();
                    });
                });
            </script>
        {% endblock %}
        {% block extra_js %}
        {% endblock %}
    </head>
    <body>
        <nav class="navbar navbar-light bg-nunisi-green padding-zero" id="top-nav">
            <div class="containter w-100">
                <div class="row w-100">
                    <!--Site Logo-->
                    <div class="col-6 col-lg-auto text-left site-logo-container padding-zero">
                        <a class="navbar-brand" href="{% url 'home' %}">
                            <img src="/media/nunisi-site-logo.png" alt="Nunisi Forest Hotel and Spa Logo" id="site-logo-nav">
                        </a>
                    </div>
                    <!--Room search form-->
                    <div class="col d-none d-lg-block text-center">
                        <div class="mx-auto text-center booking-form-div">
                            <form method="GET" action="{% url 'available_rooms' %}">
                                {% csrf_token %}
                                <div class="col-12">
                                    <p class="jost-font search-form-title font-nunisi-gold">SEARCH AVAILABILITY:</p>
                                </div>
                                <div class="row">
                                    <div class="col-4 form-floating check-in-div">
                                        {{ booking_form.check_in_date.label_tag }}
                                        <br>
                                        {{ booking_form.check_in_date }}
                                    </div>
                                    <div class="col-4 form-floating check-out-div">
                                        {{ booking_form.check_out_date.label_tag }}
                                        <br>
                                        {{ booking_form.check_out_date }}
                                    </div>
                                    <div class="col-4 guests-div">
                                        <div class="row">
                                            <div class="col-9 padding-zero bg-nunisi-gold font-nunisi-green roboto-font border-off-black-3">
                                                <p class="margin-zero font-weight-bolder w-100">
                                                    Guests: <span id="total-guests">0</span>
                                                </p>
                                                <hr class="margin-zero">
                                                <p class="guests-choices margin-zero w-100">
                                                    {{ booking_form.adults.label_tag }}{{ booking_form.adults }}
                                                </p>
                                                <hr class="margin-zero">
                                                <p class="guests-choices margin-zero w-100">
                                                    {{ booking_form.children.label_tag }}{{ booking_form.children }}
                                                </p>
                                                <hr class="margin-zero">
                                                <p class="guests-choices margin-zero w-100">
                                                    {{ booking_form.infants.label_tag }}{{ booking_form.infants }}
                                                </p>
                                            </div>
                                            <div class="col-3 booking-form-submit-div">
                                                <button type="submit" class="btn nunisi-button">Submit</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form> 
                        </div>
                    </div>
                    <!--Account dropdown-->
                    <div id="account-dropdown-super-div" class="col-6 col-lg-auto text-right">
                        <div id="account-dropdown-div" class="ms-auto">
                            <div class="dropdown" id="account-nav-menu">
                                <button id="account-dropdown" class="btn dropdown-toggle bg-nunisi-green font-nunisi-gold" type="button" data-bs-toggle="dropdown" aria-expanded="false" aria-label="Account setting tab">
                                    <i class="fa-solid fa-bars"></i><i class="fa-solid fa-circle-user"></i>
                                </button>
                                <ul class="dropdown-menu dropdown-menu-end bg-nunisi-green border-dark-gold" id="account-nav-menu-dropdown">
                                    <!--Logged in links-->
                                    {% if user.is_authenticated %}
                                        {% if user.is_superuser %}
                                            <li class="account-link font-nunisi-gold jost-font">
                                                <a href="{% url 'rooms_superuser' %}">
                                                    Rooms
                                                </a>
                                            </li>
                                            <!--Superuser Trips link-->
                                            <li class="account-link font-nunisi-gold jost-font">
                                                <a href="{% url 'trips_superuser' %}">
                                                    Trips
                                                </a>
                                            </li>
                                        {% else %}
                                            <!--User Trips link-->
                                            <li class="account-link font-nunisi-gold jost-font">
                                                <a href="{% url 'trips_user' %}">
                                                    Trips
                                                </a>
                                            </li>
                                        {% endif %}
                                        <li class="account-link font-nunisi-gold jost-font">
                                            <a href="{% url 'user_profile' %}">
                                                 Account Settings
                                            </a>
                                        </li>
                                        <li><hr class="dropdown-divider"></li>
                                        <li class="account-link font-nunisi-gold jost-font">
                                            <a href="{% url 'account_logout' %}">
                                                Logout
                                            </a>
                                        </li>
                                    <!--Logged out links-->
                                    {% else %}
                                        <li class="account-link font-nunisi-gold jost-font">
                                            <a href="{% url 'account_signup' %}">
                                                Sign Up
                                            </a>
                                        </li>
                                        <li class="account-link font-nunisi-gold jost-font">
                                            <a href="{% url 'account_login' %}">
                                                Login
                                            </a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        {% if messages %}
            <div class = "message-container">
            </div>
        {% endif %}
        {% block page_header %}
        {% endblock %}
        {% block content %}
        {% endblock %}
        <footer class="footer roboto-font bg-nunisi-green font-nunisi-gold">
            <div class="container footer-container">
                <div class="row footer-row">
                    <!--Hotel contact information-->
                    <div class="col-12 col-lg-4 hotel-socials">
                        <ul>
                            <!--Hotel social media links-->
                            <li>
                                <a href="https://www.facebook.com/" target="_blank" rel="noopener" class="facebook-link" aria-label="Follow us on FaceBook">
                                    <i class="fa-brands fa-facebook social-icon"></i>
                                </a>
                                <a href="https://www.instagram.com/" target="_blank" rel="noopener" aria-label="Follow us on Instagram">
                                    <i class="fa-brands fa-instagram social-icon"></i>
                                </a>
                            </li>
                            <!-- Hotel Email Address -->
                            <li>
                                <a href="mailto:nunisi_hotel@gmail.com" class="hotel-email-link" aria-label="Contact us via Email"><i class="fa-solid fa-envelope email-icon-footer"></i>nunisi_hotel@gmail.com</a>
                            </li>
                            <!-- Hotel Phone Number -->
                            <li>
                                <i class="fa-solid fa-phone phone-icon-footer"></i>555-555-1234
                            </li>
                        </ul>
                    </div>
                    <!--Site logo information-->
                    <div class="col-4 footer-logo-div d-none d-lg-flex">
                        <a class="footer-logo" href="{% url 'home' %}">
                            <img src="/media/nunisi-site-logo.png" alt="Nunisi Forest Hotel and Spa Logo">
                        </a>
                    </div>  
                    <!--Developer contact information-->
                    <div class="col-12 col-lg-4 developer-info-div">
                        <p>Developed by Adam Michael Fairley</p><a href="https://github.com/amfairley" target="_blank" rel="noopener" aria-label="Check out the developers GitHub profile"><i class="fa-brands fa-github"></i></a>
                    </div>
                </div>
            </div>  
        </footer>
        {% block postloadjs %}
        {% endblock %}
    </body>
</html>