{% extends "socialaccount/base_entrance.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Third-Party Login Failure" %}
{% endblock head_title %}
{% block content %}
    <div class="content allauth-content">
        <!--Page title-->
        <h1 class="page-title">
            {% trans "Third-Party Login Failure" %}
        </h1>
        <!--Message-->
        <p class="allauth-message">
            {% trans "An error occurred while attempting to login via your third-party account." %}
        </p>
    </div>
{% endblock content %}
